# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# ide
.idea/
.vscode/

# jupyter
.ipynb_checkpoints/

# data and models - use DVC
/data/*
!/data/train_subset_ids.json
!/data/val_subset_ids.json
/models/
/checkpoints/*
!/checkpoints/*.dvc
!/checkpoints/.gitignore
*.pt
*.pth

# mlflow
mlruns/

# logs
*.log
logs/

# hydra outputs
outputs/
multirun/

# os
.DS_Store

# dvc
.dvc/cache/
.dvc/tmp/

# ruff
.ruff_cache/

# gradio cache
.gradio/

# test files
test_image*
"/plots/metrics_history.json"
